page-home {
    .oshou-content{
        padding:0px 15px 15px;
        .oshou{
            width:100%;
            margin:auto;
            text-align: left;
            font-family:"aahub";
        }
    }
    .confirmed, .unconfirmed{
        .amount{
            color:green;
        }
        .message{
            padding:10px 16px 5px 0px;
            font-size: 14px;
            font-family:"aahub";
        }
        .none{
            color:gray;
            font-size: 12px;
        }
    }
    .unconfirmed{
        .date, .message, .none, .amount{
            color:gray;
        }
    }
}
